/* pro mobily */
* {
    box-sizing: border-box;
}
body {
    background-color: #222222;
    color: #C2C09F;
    font-family: sans-serif;
}
header {
    text-align: center;
    width: 100%;
    min-width: 250px;
    background-color: #303030;
    margin-bottom: 0.5em;
}
header h1 {
    margin: 0;
    font-size: 4em;
    color: #CCCCCC;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    text-align: left;
}
nav {
    padding-top: 0px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-width: 250px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    min-width: 250px;
    text-align: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    margin-bottom: 0.3em;
    background-color: #303030;
    color: #CCCCCC;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
nav ul a {
    text-decoration: none;
    font-size: 1.25em;
}
nav ul a li:hover {
    background-color: #222222;
}
main {
    width: 100%;
    min-width: 250px;
    
}
main section {
    background-color: #303030;
    margin-bottom: 1em;
    
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
main section h2{
    font-size: 2em;
    margin: 0;
    padding: 0.75em 0 0 0.2em;
    color:#CCCCCC;
}
main section article {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0.3em;
    width: 95%;
    font-size: 1em;
}
main section article h3
{
    font-size: 1.25em;
    color: #C2C09F;

}
main section article a{
    text-decoration: none;
}
main section article p{
    font-size: 1em;
}
.videoDiv {
    text-align: center;
    width: 100%;
}
main section article video{
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    max-height: 300px;
    max-width: 100%;
}
main section a{
    font-size: 1.25em;
    text-decoration: none;
}
main section a div{
    text-align: center;
    clear: both;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    color:#CCCCCC;
}
main section a div:hover{
    background-color: #222222;
}
main section p a{
    color: #C2C09F;
    font-size: 1em;
    text-decoration: none;
}
.autori {
    font-size: 1.3em;
    padding-left: 4em;
}
footer {
    clear: both;
    background-color: #303030;
    margin-bottom: -1em;
    padding: 0.3em 1em 0.3em 1em;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    
    padding-left: 2px;
    padding-right: 2px;
}

.column img {
    width:100%;
    
}


.row {
    width: 100%;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


/* pro mobily na landscape a male tablety */
@media only screen and (min-width: 540px) {
nav ul {
    text-align: center;
}
nav ul li {
    display: inline-block;
    width: 18%;
    min-width: 200px;
}
}

/* pro pc */
@media only screen and (min-width: 767px) {
body {
    margin: 0;
}

main {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    background-color: #222222;
}
main section {
    text-align: left;
    /*display: inline-block;
    width: 40%; */
}
main section h2{
    padding: 0.75em 0 0 4%;
}
main section article
{
    display: inline-block;
    width: 43%;
    margin-left: 5%;
}
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 767px) {
    .column {
        width: 50%;
        
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 540px) {
    .column {
        width: 100%;
        
        
    }
}
